<div class="menu"></div>
<a href="/products">Home</a>
<a href="/realTimeProducts">Real time products</a>

{{#if inLogged}}

{{#if user.cart}}
{{#if user.cart._id}}
<a href="/carts/{{user.cart._id}}">Shopping cart</a>
{{else}}
<a href="/carts/{{user.cart}}">Shopping cart</a>
{{/if}}
{{/if}}

<a href="/profile" id="linkProfile">Profile</a>
<a href="/api/sessions/logout" id="linkLogout">Logout</a>

{{else}}
<a href="/login">Login</a>
<a href="/register">Register</a>

{{/if}}
</div>